  <!DOCTYPE html>  
<html lang="en">
  <head>
    <title>Animal Shelter</title>
  </head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
  <script src="../js/app.js"></script>
  <body>
    <h1>ANIMAL SHELTER</h1>
      <%- body %> 

    <form action="post">
      <input type="text" value="name" placeholder="name">
      <input type="text" value="breed" placeholder="breed">
      <input type="text" value="dob" placeholder="dob">
      <input type="text" value="gender" placeholder="gender">
      <input type="text" value="family" placeholder="family">
      <input type="text" value="status" placeholder="status">
      <input type="submit">
    </form>


  </body>
</html>
